::ng-deep .p-card {
    height: 120px;
    background: #e9f6fe !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
}

.botao-adicionar {
    position: absolute;
    top: 85%;
    right: 10%;;
}
