<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monitoramento Escolar</title>
  <link rel="stylesheet" href="splash.component.scss" />
</head>
<body>
<div class="onboarding">
  <div class="onboarding__bg"></div>

  <div class="onboarding__content">
    <div class="onboarding__icon">
      <i class="material-icons" style="font-size: 70px !important;"> school</i>
      <i class="material-icons" style="margin-top: 45px; font-size: 30px !important; margin-left: -25px;"> location_on</i>
    </div>
    <div class="onboarding__title">
      <h1>Caminho Seguro</h1>
      <p class="onboarding__subtitle">Monitoramento de Transporte Escolar</p>
    </div>

    <div class="onboarding__dots">
      <div class="onboarding__dot_1"></div>
      <div class="onboarding__dot_2"></div>
      <div class="onboarding__dot_3"></div>
    </div>
  </div>
</div>
</body>
</html>
