<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monitoramento Escolar</title>
  <link rel="stylesheet" href="login.component.scss" />
</head>
<body>
<div class="onboarding">
  <div class="onboarding__bg"></div>
  <div class="onboarding__content">
    <div class="onboarding__icon">
      <i class="material-icons" style="font-size: 35px !important;"> school</i>
      <i class="material-icons" style="margin-top: 25px;font-size: 15px !important;margin-left: -12px;"> location_on</i>
    </div>
    <div class="onboarding__title">
      <h1>Caminho Seguro</h1>
      <p class="onboarding__subtitle">Monitoramento de Transporte Escolar</p>
    </div>
    <div class="onboarding__dots">
      <app-login-formulario></app-login-formulario>
    </div>
  </div>
</div>
</body>
</html>

