

<p-toast></p-toast>
<mat-card class="example-card" appearance="outlined" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <form [formGroup]="formulario">
      <span >Criar Conta</span>
      <mat-card-content>
        <div class="campos-formulario">
          <label>Nome Completo</label>
          <div class="input-wrapper">
            <i class="material-icons prefix-icon">person</i>
            <input
              matInput
              type="text"
              placeholder="Digite seu nome completo"
              formControlName="nome"
              required
            >
          </div>
        </div>
        <div class="campos-formulario">
          <label>E-mail</label>
          <div class="input-wrapper">
            <i class="material-icons prefix-icon">email</i>
            <input
              matInput
              type="email"
              placeholder="Digite seu email"
              formControlName="email"
              required
            >
          </div>
          <div *ngIf="email?.touched && email?.invalid">
          <span class="campo-erro" *ngIf="email?.hasError('required')">
            O e-mail é obrigatório
          </span>
            <span class="campo-erro" *ngIf="email?.hasError('email')">
              E-mail inválido
            </span>
          </div>
        </div>
        <div class="campos-formulario">
          <label>Telefone</label>
          <div class="input-wrapper">
            <i class="material-icons prefix-icon">phone</i>
            <input
              matInput
              type="text"
              mask="(00) 00000-0000"
              placeholder="Digite seu telefone"
              formControlName="telefone"
            >
          </div>
        </div>
        <div class="campos-formulario" style="margin-top: 10px">
          <label>Senha</label>
          <div class="input-wrapper">
            <i class="material-icons prefix-icon">lock</i>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Digite sua senha"
              formControlName="senha"
              required
              maxlength="6"
            >
            <button type="button" class="toggle-button" (click)="toggleHide()">
              <i class="material-icons">
                {{ hide ? 'visibility_off' : 'visibility' }}
              </i>
            </button>
          </div>
        </div>
        <div class="campos-formulario" style="margin-top: 10px">
          <label>Tipo de Usuario</label>
          <div class="input-wrapper">
            <p-dropdown
              formControlName="idtipoUsuario"
              [options]="listaTipoUsuarios"
              optionLabel="descricaoTipoUsuario"
              optionValue="id"
              placeholder="Selecione o tipo de usuario"
            >
            </p-dropdown>
          </div>
        </div>
      </mat-card-content>
    </form>
  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [disabled]="formulario.invalid"
    (click)="cadastrar()"
    >
      Cadastrar
    </button>
  </mat-card-actions>
</mat-card>
<div class="botao-conta">
  <p>Já tem uma conta ?</p>
  <a>Fazer login</a>
</div>
